* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.slider {
    display: flex;
    gap: 1.5em;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(0%, -50%);
    overflow-x: hidden;

}
.slider-container {
    min-height: 100vh;
    background-color: black;
    position: relative;
    overflow: hidden;

}
.slide-container {
    position: relative;
}
.slide {
    width: 40vmin !important;
  height: 56vmin !important;
  object-fit: cover;
  object-position: 100% center;
  user-select: none
}

.slide:hover .slider-container {
    background-color: red;
}
.slide-content {
    position: absolute;
    top:0;
    left: 0;
    width: 40vmin;
    height: 56vmin;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.373);
    font-family: 'Luckiest Guy', cursive;
    opacity: 0;
    transition: all ease-in-out 0.5s;
}
.slide-title {
    font-size: 2.8vw;
    font-weight: 800;
    background-image: url('https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?auto=format&fit=crop&q=80&w=4548&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: white;
    pointer-events: none;
    user-select: none;
}
.slide-btn {
    font-size: 1vw;
    color: white;
    user-select: none;
}
.slide-container:hover .slide-content {
    opacity: 1;
}





@media only screen and (max-width: 768px) {
    .slide, .slide-content {
        width: 100vmin !important;
        height: 80vh !important;
    }
    .slide-title {
        font-size: 12vw;
    }
    .slide-btn {
        font-size: 5vw;
    }
    .slide-content {
        opacity: 1;
    }
}